:root {
    --font-size: 21px;
    --font-line-height: 1.5;
    --font-family-main: "Georgia, serif";
    --font-family-headings: "Verdana, sans-serif";

    --layout-width: 55em;
    --layout-padding-b: 2em;
}