form {
    label {

    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"] {
        display: block;
        border: 1px solid #ccc;
        padding: 0.5em 0.8em;
        border-radius: 0.3em;
        outline: none;

        &:focus {
            border-color: #090;

            & + label {
                color: #090;
            }
        }
    }

    fieldset {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        padding: 1rem;

        legend {
            padding: 0 1em;
            font-weight: bold;
            font-size: 1.4em;
        }
    }

    .field {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;

        label {
            order: 1;
            display: block;
            padding-bottom: 0.2em;
        }
        input {
            order: 2;
        }

        &.submit {
            input {
                display: block;
                border: 1px solid #ccc;
                background: #fff;
                color: black;
                padding: 1em 0;
                text-align: center;
                border-radius: 0.3em;
            }
        }
    }
}